{{ if (eq (getenv "TLS") "1") }}
server {
	listen 443 ssl default;

	ssl on;
	ssl_certificate /tls/{{getenv "TLS_CERT"}};
	ssl_certificate_key /tls/{{getenv "TLS_KEY"}};

	return 301 {{getenv "NOTFOUND_URL"}};
}
{{ end }}

server {
	listen 80 default;

	return 301 {{getenv "NOTFOUND_URL"}};
}

{{ if ls "/" }}
  {{range gets "/*" }}
    {{ $url := split .Key "/"}}

    {{ if (eq (getenv "TLS") "1") }}
    server {
      listen 80;
      server_name {{index $url 1}}.{{getenv "ENDPOINT"}};

      rewrite ^ https://{{index $url 1}}.{{getenv "ENDPOINT"}}$request_uri? permanent;
    }

    server {
        listen 443 ssl;
        server_name {{index $url 1}}.{{getenv "ENDPOINT"}};

        ssl on;
        ssl_certificate /ssl/{{getenv "TLS_CERT"}};
        ssl_certificate_key /ssl/{{getenv "TLS_KEY"}};

        location / {
          proxy_pass http://{{.Value}};
          proxy_set_header        X-Forwarded-Proto https;
          proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        }
    }
    {{else}}
    server {
        listen 80;
        server_name {{index $url 1}}.{{getenv "ENDPOINT"}};

        location / {
                  proxy_pass http://{{.Value}};
                  proxy_set_header        X-Forwarded-Proto https;
                  proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
                }
    }
    {{end}}
  {{end}}
{{end}}
